html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    font-family: 'Inter 28pt';
}

.header, .welcome, .random, .quote, .action, .footer {
    padding-left: 350px;
    padding-right: 350px;
}
.header, .head-contain, .welcome, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
}

.head-contain {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    margin: 0;
    min-width: 800px;
}

.logo {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
}

.logo, #awesome {
    font-weight: 900;
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 18px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.links a {
    text-decoration: none;
}

.links a, #words {
    color: #E5E7EB;
}

.links a, #words, .caption {
    font-size: 18px;
    font-weight: 200;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
}

.welc-contain {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    min-width: 800px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 350px;
    gap: 6px;
}

#awesome {
    font-size: 48px;
}

.cabin img {
    width: 400px;
}

.left button {
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #3882F6;
    color: #F9FAF8
}

.random {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 36px;
}

.rand-contain {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    min-width: 800px;
    flex: 1 0 auto;
    justify-content: space-around;
    text-align: center;
    gap: 24px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.grid {
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
}

.each {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    gap: 6px;
}

.pics img {
    max-width: 100px;
    border: 1px solid #3882F6;
    border-radius: 5px;
    padding: 5px;
}